.match-details {
  background-image: linear-gradient(to bottom, #a4261d, #1e293b);
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.team-logo {
  height: 30%;
  width: 98%;
  border-style: solid;
}
.match-details-main-container {
  width: 98%;
  height: 50%;
}

.recent-match-main-container {
  height: 40%;
  width: 98%;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
